<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--主窗口名称-->
    <add key="MainName" value="百合花WCS" />

    <!--获取状态根据状态获取显示窗体-->
    <add key="FormStatus" value="1,1,1,0,0,1" />

    <!--RGV地址以及端口号-->
    <add key="AGVIP" value="192.168.8.99" />
    <add key="AGVPORT" value="80" />
    <add key="WCSIP" value="192.168.8.41"></add>
    <add key="WCSPORT" value="7788"></add>
    <!--往人工拣选最大数量-->
    <add key="MaxNum" value="3" />
    <!--RGV信息清除默认显示-->
    <add key="RGVCheckConnectTimer" value="1000" />
    <!--心跳测试间隔时间-->
    <add key="HeartTestTimer" value="1000" />
    <!--心跳测试间隔连接时间-->
    <add key="HeartTimeout" value="6000" />
    <!--RGV重新连接-->
    <add key="RGVGetStatusTime" value="1000" />
    <!--RGV重新连接-->
    <add key="GetLocationTime" value="1000" />
    <!--信息清除默认显示-->
    <add key="CheckConnectTimer" value="4000" />
    <!--重新连接-->
    <add key="GetStatusTime" value="1000" />
    <!--PLC重新连接-->
    <add key="TimeOut" value="100" />

    <!--输送机IP地址-->
    <add key="A" value="192.168.8.10" />
    <!--Led发送服务端-->
    <add key="IP" value="192.168.32.100" />
    <add key="Port" value="6868" />
    <!--物料入库发给AGV的tasktype-->
    <add key="InTaskType" value="01" />
    <!--托盘入库发给AGV的tasktype-->
    <add key="PallentsInTaskType" value="05" />
    <!--出库发给AGV的tasktype-->
    <add key="OutTaskType" value="02" />
    <!--AGV回传到达方法-->
    <add key="Arrive" value="daoda" />
    <!--AGV回传完成方法-->
    <add key="Finish" value="finish" />
  </appSettings>
</configuration>